


.btn-primary{
	border-color: #778899;
	background-color: #551A8B;
}

.navbar-inverse{
	background-color: #551A8B;
	border-color: #778899;
}

.carousel-inner{
	height: 350px;
}

.img-thumbnail{
	height: 270px;
}