{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">

      <form class="form-signin" role="form" method="POST" action="/login/">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control input-sm" placeholder="Email" name = "email">
        <input type="password" class="form-control input-sm" placeholder="Пароль" name = "passwd">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>
      </div>

    </div> <!-- /container -->

{% endblock %}


