 
      <div class="row">
        <div class="col-lg-9 sidebar">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Производитель
                  </a>
                </h4>
        </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

        <form class="form-signin" role="form" method="GET" action="/smart/">
        <div class="btn-group-vertical" >
        <label class="checkbox">
          <input type="checkbox" name="check0" value="Xiaomi" autocomplete="off"> Xiaomi
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check1" value="Meizu" autocomplete="off"> Meizu
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check2" value="Samsung" autocomplete="off"> Samsung
        </label>
         <label class="checkbox">
            <input type="checkbox" name="check6" value="IPhone" autocomplete="off"> iPhone
        </label>
        </div>
         </div>
         </div>

         <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Диагональ экрана
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

              <div class="btn-group-vertical" >
        <label class="checkbox">
          <input type="checkbox" name="check3" value="4" autocomplete="off"> 4"
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check4" value="5" autocomplete="off"> 5"
        </label>
        <label class="checkbox">
            <input type="checkbox" name="check5" value="5.5" autocomplete="off"> 5,5"
        </label>
        </div>



            </div>
         </div>
         </div>


        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary btn-info">
          <input type="checkbox" name="checki" value="i" autocomplete="off">Закрепить фильтры
        </label>
        </div>
        <div class="page-header"  style="margin: 15px 0 10px"></div> 
        <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-3"></div>
         <div class="col-md-6">
        <button type="submit" class="btn btn-info" style="padding-left:10px;">Поиск</button>
        </div>
        </div>
        </form>
      </div>
      </div>
      </div>
    </div> 

   
  



    