 {% extends "index.html" %}

{% import "login_menu.html" as container %}

{% block title %}Smart{% endblock %}
{% block inf_gl_s %}{% endblock %}
{% block content %}


<div class="container">
<div class="page-header">
        <h1>Смартфоны</h1>
      </div>
      <p>
        <div class="form-signin">
        <a  href="/smart/hone" class="btn btn-lg btn-info" type="submit">Apple</a>
        <a  href="/smart/sam" class="btn btn-lg btn-info" type="submit">Samsung</a>
        <a  href="/smart/meiz" class="btn btn-lg btn-info" type="submit">Meizu</a>
        <a  href="/smart/lg" class="btn btn-lg btn-info" type="submit">LG</a>
        <a  href="/smart/iaom" class="btn btn-lg btn-info" type="submit">Xiaomi</a>
        <a  href="/smart/novo" class="btn btn-lg btn-info" type="submit">Lenovo</a>
        <a  href="/smart/lus" class="btn btn-lg btn-info" type="submit">OnePlus</a>
      </p>
      <div class="page-header"></div>  
</div>

<div class="row">
  <div class="col-lg-offset2 col-lg-4">
    <form method="GET" class="form-inline" role="form" action="/smart/">
    <div class="form-group">
      <label class="sr-only">Название </label><input type="text" class="form-control" name="phone_name" /> 
    </div>
      <button type="submit" class="btn btn-success">Искать</button>
    </form>
  </div>
</div> 
<div class="container">
<div class="row">
<div class="col-md-12"></div>
<div class="col-md-3">
{% include "nav_sidebar.html" %}
</div> 


 
      

      <!-- Three columns of text below the carousel -->
      
   
        <div class="col-md-9">
          {% for smartfon in smartfons %}
          <div class="pull-left">
            <img class="img-thumbnail" src="{{smartfon.tovar_image}}" alt="Generic placeholder image">


            <h2>{{smartfon.tovar_name}}</h2>
            <p>{{smartfon.tovar_info}}</p>
            <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
          </div>
          {% endfor %}
        </div><!-- /.col-lg-4 -->
      
      <!-- /.row -->

</div> 
</div> 


{% endblock %}