 {% extends "index.html" %}

{% import "login_menu.html" as container %}

{% block title %}Smart{% endblock %}
{% block inf_gl_s %}
{% block content %}{% endblock %}



<div class="container">
<div class="page-header">
        <h1>Смартфоны</h1>
      </div>
      <p>
        
        <button {{username}} type="submit" class="btn btn-lg btn-info">Apple</button>
        <button type="button" class="btn btn-lg btn-info">Sumsung</button>
        <button type="button" class="btn btn-lg btn-info">Meizu</button>
        <button type="button" class="btn btn-lg btn-info">LG</button>
        <button type="button" class="btn btn-lg btn-info">Xiaomi</button>
        <button type="button" class="btn btn-lg btn-info">Lenovo</button>
        <button type="button" class="btn btn-lg btn-info">OnuPlus</button>
      </p>
      <div class="page-header"></div>  
</div>

<div class="row">
  <div class="col-lg-offset2 col-lg-4">
    <form method="GET" class="form-inline" role="form" action="/smart/">
    <div class="form-group">
      <label class="sr-only">Название </label><input type="text" class="form-control" name="phone_name" /> 
    </div>
      <button type="submit" class="btn btn-success">Искать</button>
    </form>
  </div>
</div> 

 <div class="container marketing">
      

      <!-- Three columns of text below the carousel -->
      <div class="row">
   
        <div class="col-lg-12">
          {% for smartfon in smartfons %}
          <div class="pull-left">
            <img class="img-thumbnail" src="{{smartfon.tovar_image}}" alt="Generic placeholder image">


            <h2>{{smartfon.tovar_name}}</h2>
            <p>{{smartfon.tovar_info}}</p>
            <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
          </div>
          {% endfor %}
        </div><!-- /.col-lg-4 -->
      
      </div><!-- /.row -->



{% endblock %}