{% extends "index.html" %}

{% import "login_menu.html" as container %}

{% block title %}Smart{% endblock %}
{% block inf_gl_s %}
{% block content %}{% endblock %}

<div class="container">
<div class="page-header">
        <h1>Смартфоны</h1>
      </div>
      <p>
        <button type="button" class="btn btn-lg btn-info">Apple</button>
        <button type="button" class="btn btn-lg btn-info">Sumsung</button>
        <button type="button" class="btn btn-lg btn-info">Meizu</button>
        <button type="button" class="btn btn-lg btn-info">LG</button>
        <button type="button" class="btn btn-lg btn-info">Xiaomi</button>
        <button type="button" class="btn btn-lg btn-info">Lenovo</button>
        <button type="button" class="btn btn-lg btn-info">OnuPlus</button>
      </p>
</div>

 
<div class="page-header"></div>  
 <div class="container marketing" role="form" method="get" action="/smart/">
      

      <!-- Three columns of text below the carousel -->
      <div class="row">
   
        <div class="col-lg-3">
          <img class="img-thumbnail" src="{{baza3}}" alt="Generic placeholder image">


          <h2>{{baza5}}</h2>
          <p>{{baza4}}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      
        <div class="col-lg-3">
          <img class="img-thumbnail" src="{{baza6}}" alt="Generic placeholder image">
          <h2>{{baza8}}</h2>
          <p>{{baza7}}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
           <img class="img-thumbnail" src="{{baza9}}" alt="Generic placeholder image">
          <h2>{{baza11}}</h2>
          <p>{{baza10}}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-thumbnail" src= "{{ baza2 }}" alt="Generic placeholder image">
          <h2>{{ baza }}</h2>
          <p>{{ baza1 }}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

 <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
         <div class="col-lg-3">
          <img class="img-thumbnail" src= "{{ baza2 }}" alt="Generic placeholder image">
          <h2>{{ baza }}</h2>
          <p>{{ baza1 }}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="row">
         <div class="col-lg-3">
          <img class="img-thumbnail" src= "{{ baza2 }}" alt="Generic placeholder image">
          <h2>{{ baza }}</h2>
          <p>{{ baza1 }}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="row">
         <div class="col-lg-3">
          <img class="img-thumbnail" src= "{{ baza2 }}" alt="Generic placeholder image">
          <h2>{{ baza }}</h2>
          <p>{{ baza1 }}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="row">
         <div class="col-lg-3">
          <img class="img-thumbnail" src= "{{ baza2 }}" alt="Generic placeholder image">
          <h2>{{ baza }}</h2>
          <p>{{ baza1 }}</p>
          <p><a class="btn btn-default" href="#" role="button">Детальнее &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->      


{% endblock %}